{% layout "layouts/base.liquid" %}
{% block head %}
    <title>{{ title }}</title>
  {% endblock %}


{% block content %}

  <nav>
    <h1>{{ title }}</h1>
  </nav>

  <form>
    <label for="searchSite">Search for a movie</label>
    <input type="search" id="searchSite">
  </form>`

<section>
<img src="" alt="">
<p>Eureka</p>
<p>hoi</p>
</section>

  
{% endblock %}
