<html lang="en">
<head>
  {% block head %}
    <title>My First Page</title>
  {% endblock %}
</head >



<body>
  <nav>
    <a href="http://localhost:7000">
    <h1>{{ title }}</h1>
    </a>
  </nav>
  {% block content %}
    
  {% endblock %}
</body>
</html>
