<html lang="en">
<head>
  {% block head %}
    <title>My First Page</title>
  {% endblock %}
  <link rel="stylesheet" href="/index.css">
</head >



<body>
  <nav>
    <h1>{{ title }}</h1>
  </nav>
  {% block content %}
    
  {% endblock %}
</body>
</html>
