* {
    margin: 0;
}


.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

:root {
    --backgroundColor: #1a1b4b;
    --mainColor: #3a9efd;
    --secundaryColor: #3e4491;
    --contrastColor: #f7a400;
}


a {
    text-decoration: none;
    color: white;
}

body {
    color: #fff;
    font-family: "Oswald", sans-serif;
    background-color: black;
}



nav {
    background-color: var(--contrastColor);
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 1em;
}

input {
    width: 30em;
    height: 3em;
    border-radius: 20px;
}


main {
    padding-top: 2em;
    background-image: linear-gradient(180deg, var(--backgroundColor), var(--secundaryColor))
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1em;

    & label {
        margin: 1em auto;
    }

    & input {
        margin: auto;
        border: 2px solid #ccc;
        border-radius: 5px;
        width: 20em;
        height: 2.5em;
        outline: none;
        /* Remove the default focus border */
    }
}



section h2 {
    margin-left: 2em;
}



ul li img {
    width: 12rem;
    height: 18rem;
    border-radius: 8px;
    margin-bottom: .5em;
    transition: .2s;
}

ul li:hover {
    transform: scale(1);
}

ul li:focus-visible {
    transform: scale(1);
    outline: var(--contrastColor);
}



span {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}



.searchResultsUl {
    margin-top: .5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
    gap: 1.8em 0;


    & li {
        transition: .2s;
        transform: scale(.9);
        list-style: none;

        & a {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
            align-items: center;
        }
    }
}